body{
    /*background-color: #0b0b441c;*/
    padding: 25px;
}
.register-page-title{
    text-align: center;
    color:#0b045f;
}
.register-page-wrapper{
    display: flex;
    max-width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
}

@media only screen and (max-width: 767px) {
    .register-page-wrapper {
        max-width: 75%;
    }
}
@media only screen and (max-width: 425px) {
    .register-page-wrapper {
        max-width: 86%;
    }
}
@media only screen and (max-width: 375px) {
    .register-page-wrapper {
        max-width: 92%;
    }
}
.register-page-wrapper h2{
    color: #3c449a;
}
.register-page-wrapper .sidebar{
    height: 34rem;
    width: 25%;
    border-radius: 8px 0 0 8px;
    background-image: url('https://thumbs.dreamstime.com/b/glowing-smooth-gradient-website-template-banner-header-sidebar-graphic-blurred-blue-abstract-background-neon-pleasant-155830144.jpg');
}
@media only screen and (max-width: 1000px) {
    .register-page-wrapper .sidebar {
        width: 17%;
    }
}
@media only screen and (max-width: 838px) {
    register-page-wrapper .sidebar {
        width: 0%;
    }
}
.register-page-wrapper .formBar{
    margin: 0 auto;
    padding: 5px;
}
.register-page-wrapper .form input{
    width: 80%;
    height: 25px;
    border: 1px solid #cce5ff;
    padding: 1px 3px;
    border-radius: 5px;
}
.register-page-wrapper .form input:focus{
    outline-color: #4da3ff;
    background-color: #e6f2ff;
}
.register-page-wrapper .form button {
    padding: 12px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #4da3ff;
    font-weight: bold;
    font-size: medium;
}
