
.product-card {
  text-align: center;
  padding: 5px 15px;
  border: 1px solid #4da3ff;
  border-radius: 10px;
}
.product-card .product-name {
  margin-top: 10px;
  font-weight: 600;
}
.product-card .product-price {
  font-weight: 600;
  font-size: 22px;
}

.payment-now-btn {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  line-height: 12px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #00b82e;
  padding: 10px 15px;
}

